/* Navbar Container Styles */
#navContainer {
    width: 100%; 
    height: 56px;
    /* background-color: rgb(12, 94, 165); */
    transition: all 1s ease-in-out;
    /* border: 1px solid red; */
}

.inner-container{
    width: 100%;
    /* background-color: #b090e760; */
    transition: all 1s ease-in-out;
    /* border: 2px solid lime; */
}

.navSticky {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 50%;
    transition: opacity 1.5s;
    background-color: rgb(190, 217, 241);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(3px);
}

.navSticky:hover {
    opacity: 100%;
}

.navSticky::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255, .4), transparent);
    transition: 0.5s;
}

.navSticky:hover:before {
    left: 100%;
}

.translateLeft {
    transform: translateX(-220px);
    transition: transform 2s;
}

.translateRight {
    transform: translateX(41%);
    transition: transform 2s;
}

.dummy-class {
    transition: transform 2s;
}


#navDrop {
    background-color: rgba(0, 0, 0, 0.75);
}