@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.montserrat{
    font-family: "Montserrat", sans-serif;
}

.sans{
    font-family: "Open Sans", sans-serif;
}

.gothic{
    font-family: "Nanum Gothic Coding", monospace;
}

.nunito{
    font-family: "Nunito", sans-serif;
}

.mono {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

.input-container {
    position: relative;
    height: 50px;
    width: 50%;
}

.big-input-container{
    position: relative;
    height: 80px;
    width: 100%;
}

.input-container input {
    outline: none;
    height: 3rem;
    width: 100%;
    border: 1px solid #ffffff40;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.5s;
    font-size: 1rem;
    padding: 0px 10px;
    background-color: #1d2b3a;
    color: whitesmoke;
}
.input-container textarea {
    outline: none;
    height: 3rem;
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.5s;
    font-size: 1rem;
    padding: 0px 10px;
    background-color: #1d2b3a;
    border: 1px solid #ffffff40;
}

.label {
    padding: 0px 15px;
    position: absolute;
    left: 0%;
    top: 20%;
    text-transform: uppercase;
    pointer-events: none;
    font-size: 1rem;
    color: #ffffff40;
}

.input-container textarea:valid ~ .label,
.input-container textarea:focus ~ .label,
.input-container input:valid ~ .label,
.input-container input:focus ~ .label {
    color: #00dfc4 ;
    transform: translateX(10px) translateY(-20px);
    transition: 400ms; 
    background-color: #1d2b3a;
    font-size: 0.75rem;
    padding: 0px 5px;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2rem;
    font-weight: 400;
}

.input-container input:valid ,
.input-container input:focus {
    border: 1px solid #00dfc4;
    
}

/* .input-container:nth-child(2) input:valid ~ .label ,
.input-container:nth-child(2) input:focus ~ .label{
    background-color: #00dfc4;
    color: #1d2b3a;
} */

#big-input{
    width: 100%;
}
#big-height{
    height: 100%;
}

.custom-swal-container{
    z-index: 9999;
}

.navSticky{
    position: fixed;
    top: 0;
    left: 0;
    height: 52px;
    /* font-size: smaller; */
    background-color: aliceblue;
    opacity: 50%;
    transition: opacity 2s;
    backdrop-filter: blur(1px);
}
.navSticky:hover{
    opacity: 95%;
}

/* .navSticky::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255, .4), transparent);
    transition: 0.5s;
} */

.navSticky:hover:before{
    left: 100%;
}

.translateLeft {
    transform: translateX(-220px);
    transition: transform 2s; /* Apply transition to transform */
}

.translateRight {
    transform: translateX(50%);
    transition: transform 2s; /* Apply transition to transform */
}

.dummy-class{
    transition: transform 2s; 
}

