@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.montserrat {
    font-family: "Montserrat", sans-serif;
}

.sans {
    font-family: "Open Sans", sans-serif;
}

.gothic {
    font-family: "Nanum Gothic Coding", monospace;
}

.nunito {
    font-family: "Nunito", sans-serif;
}

.mono {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.ibm {
    font-family: "IBM Plex Mono", monospace;
}

.input-container {
    position: relative;
    height: 50px;
    width: 50%;
    /* border: 1px solid lime; */
}

.big-input-container {
    position: relative;
    height: 80px;
    width: 100%;
    /* border: 1px solid fuchsia; */
}

.input-container input {
    outline: none;
    height: 100%;
    width: 100%;
    border: 1px solid #ffffff40;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.5s;
    font-size: 1rem;
    padding: 0px 10px;
    background-color: #1d2b3a;
    color: whitesmoke;
}

.input-container textarea {
    outline: none;
    height: 100%;
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    font-size: 1rem;
    transition: 0.5s;
    font-size: 1rem;
    padding: 0px 10px;
    background-color: #1d2b3a;
    border: 1px solid #ffffff40;
}

.label {
    padding: 0px 15px;
    position: absolute;
    left: 0%;
    top: 20%;
    text-transform: uppercase;
    pointer-events: none;
    font-size: 1rem;
    color: #ffffff40;
}

.input-container textarea:valid~.label,
.input-container textarea:focus~.label {
    color: #00dfc4;
    transform: translateX(20px) translateY(-27px);
    transition: 400ms;
    background-color: #1d2b3a;
    font-size: 0.75rem;
    padding: 0px 5px;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2rem;
    font-weight: 400;
}

.input-container input:valid~.label,
.input-container input:focus~.label {
    color: #00dfc4;
    transform: translateX(10px) translateY(-20px);
    transition: 400ms;
    background-color: #1d2b3a;
    font-size: 0.75rem;
    padding: 0px 5px;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2rem;
    font-weight: 400;
}

.input-container input:valid,
.input-container input:focus {
    border: 1px solid #00dfc4;

}

/* .input-container:nth-child(2) input:valid ~ .label ,
.input-container:nth-child(2) input:focus ~ .label{
    background-color: #00dfc4;
    color: #1d2b3a;
} */

#big-input {
    width: 100%;
    min-height: 100px;
    /* border: 1px solid fuchsia; */
}

#big-height {
    height: 100%;
}

.custom-swal-container {
    z-index: 9999;
}



.selectStyles {
    width: 100%;
    /* border: 1px solid yellow; */
}

.container{
    padding: 1rem 3rem;
    /* border: 1px solid lime; */
}



.bg-Style {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1042%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(0%2c 123%2c 127%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c752.939C134.011%2c717.513%2c235.49%2c622.812%2c351.564%2c547.045C466.665%2c471.913%2c620.671%2c434.554%2c678.672%2c309.939C736.728%2c185.206%2c680.714%2c40.624%2c649.655%2c-93.406C620.969%2c-217.198%2c563.237%2c-324.776%2c505.373%2c-437.909C428.454%2c-588.297%2c409.514%2c-799.484%2c254.359%2c-866.267C101.661%2c-931.993%2c-58.806%2c-789.722%2c-220.296%2c-750.258C-391.615%2c-708.392%2c-594.333%2c-746.921%2c-723.846%2c-627.216C-855.452%2c-505.576%2c-888.443%2c-307.558%2c-893.094%2c-128.408C-897.439%2c38.939%2c-816.703%2c188.956%2c-749.011%2c342.062C-680.466%2c497.096%2c-644.082%2c689.429%2c-495.463%2c770.955C-347.573%2c852.081%2c-163.078%2c796.049%2c0%2c752.939' fill='%23006266'%3e%3c/path%3e%3cpath d='M1920 1791.963C2058.381 1804.4279999999999 2220.494 1798.037 2317.576 1698.6399999999999 2414.48 1599.426 2358.837 1431.771 2400.884 1299.612 2435.978 1189.307 2551.795 1105.852 2542.892 990.442 2533.908 873.981 2429.919 792.69 2354.874 703.179 2278.553 612.1469999999999 2217.967 484.41499999999996 2101.044 463.422 1983.931 442.395 1891.917 562.278 1778.996 599.783 1671.6390000000001 635.44 1548.38 612.7819999999999 1455.767 677.74 1351.142 751.123 1242.355 853.912 1234.792 981.482 1227.231 1109.023 1360.3020000000001 1195.278 1418.338 1309.101 1473.057 1416.4180000000001 1479.145 1547.3980000000001 1565.935 1630.9360000000001 1661.279 1722.7069999999999 1788.2 1780.091 1920 1791.963' fill='%23009498'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1042'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-position: center;
    background-size: cover;
}

.bg-gray {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(51%2c 51%2c 51%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c662.999C125.801%2c655.366%2c257.2%2c630.809%2c352.092%2c547.866C442.285%2c469.031%2c452.216%2c338.133%2c498.211%2c227.525C542.328%2c121.434%2c614.548%2c26.194%2c616.795%2c-88.682C619.255%2c-214.454%2c608.596%2c-363.298%2c511.325%2c-443.066C413.357%2c-523.406%2c265.287%2c-456.19%2c140.683%2c-479.123C33.618%2c-498.828%2c-58.579%2c-580.209%2c-166.74%2c-567.863C-283.098%2c-554.581%2c-386.194%2c-488.653%2c-472.2%2c-409.163C-565.305%2c-323.113%2c-676.692%2c-223.971%2c-675.995%2c-97.193C-675.295%2c30.029%2c-518.862%2c97.133%2c-468.772%2c214.081C-416.749%2c335.542%2c-476.096%2c500.937%2c-380.665%2c592.326C-285.529%2c683.433%2c-131.482%2c670.977%2c0%2c662.999' fill='%23292929'%3e%3c/path%3e%3cpath d='M1920 1857.462C2066.53 1868.83 2231.333 1825.211 2327.483 1714.056 2421.093 1605.838 2352.357 1434.328 2402.075 1300.156 2446.239 1180.973 2596.684 1109.522 2598.589 982.434 2600.516 853.859 2496.364 750.7239999999999 2411.764 653.884 2327.452 557.374 2231.64 471.91200000000003 2112.145 425.61400000000003 1985.688 376.61800000000005 1848.343 355.97900000000004 1715.693 384.193 1576.91 413.711 1422.975 464.82399999999996 1351.507 587.398 1280.951 708.408 1355.658 859.009 1357.1779999999999 999.078 1358.421 1113.673 1327.065 1226.036 1359.6280000000002 1335.914 1395.512 1456.996 1458.777 1567.7939999999999 1551.22 1653.833 1656.135 1751.479 1777.105 1846.376 1920 1857.462' fill='%233d3d3d'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.update-bg {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='1080' preserveAspectRatio='none' viewBox='0 0 1920 1080'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1920' height='1080' x='0' y='0' fill='rgba(0%2c 123%2c 127%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c489.506C119.609%2c502.894%2c240.485%2c594.807%2c349.548%2c543.908C457.979%2c493.304%2c502.411%2c358.504%2c530.124%2c242.099C554.966%2c137.754%2c530.564%2c30.229%2c496.019%2c-71.317C466.071%2c-159.348%2c407.823%2c-230.358%2c345.822%2c-299.656C284.762%2c-367.903%2c222.49%2c-435.007%2c138.329%2c-471.104C47.097%2c-510.234%2c-54.383%2c-537.376%2c-150.492%2c-512.527C-247.829%2c-487.36%2c-320.119%2c-410.404%2c-386.949%2c-335.293C-454.526%2c-259.342%2c-519.867%2c-177.395%2c-537.722%2c-77.313C-555.875%2c24.443%2c-527.128%2c127.131%2c-486.392%2c222.128C-444.921%2c318.838%2c-394.848%2c420.218%2c-302.635%2c470.909C-212.236%2c520.603%2c-102.518%2c478.031%2c0%2c489.506' fill='%23006266'%3e%3c/path%3e%3cpath d='M1920 1631.863C2020.95 1621.0149999999999 2081.273 1518.714 2167.654 1465.357 2256.159 1410.688 2393.4030000000002 1410.503 2433.657 1314.579 2474.111 1218.1779999999999 2364.299 1121.549 2355.654 1017.362 2346.15 902.8240000000001 2442.999 777.307 2381.043 680.504 2320.465 585.854 2181.994 571.024 2069.619 570.4449999999999 1971.496 569.94 1889.804 634.077 1801.8220000000001 677.5219999999999 1729.337 713.3140000000001 1660.417 749.081 1599.722 802.4780000000001 1530.681 863.217 1449.897 920.281 1425.2 1008.858 1399.435 1101.266 1427.9569999999999 1199.328 1464.32 1288.102 1501.762 1379.51 1556.747 1463.039 1635.604 1522.528 1718.359 1584.9569999999999 1816.931 1642.938 1920 1631.863' fill='%23009498'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1920' height='1080' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

/* media queries for responsive dessign */

/* ------------  Mobiles ------------- */

@media screen and (max-width:600px) {
    .input-container {
        position: relative;
        height: 50px;
        width: 99%;
    }

    #big-input {
        width: 99%;
        margin: 24px auto 24px;
    }

    .selectStyles {
        width: 99%;
    }

    .antdCard {
        width: 100%;
        margin: 0 auto;
        font-family: "IBM Plex Mono", monospace;
    }

    .container{
        padding: 1rem 0.2rem;
        /* border: 1px solid lime; */
    }
    

}

/* ------------- tablets ----------- */
@media only screen and (max-width : 778px) {
    .input-container {
        position: relative;
        height: 50px;
        width: 60%;
    }

    #big-input {
        width: 60%;
        margin: 12px auto 12px;
    }

    .selectStyles {
        width: 60%;
    }

    .antdCard {
        width: 100%;
        margin: 0 auto;
        font-family: "IBM Plex Mono", monospace;
    }

    .container{
        padding: 1rem 0.2rem;
    }
    

}

@media screen and (min-width : 1400px) and (max-width : 1920px) {
    .translateRight {
        transform: translateX(300px);
        transition: transform 2s;
    }

    .navSticky:hover {
        opacity: 100%;
    }
}